@use 'media' as bp;
@use "sass:color";
@use 'fonts' as *;

.header {
    width: 100vw;
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    // background-color: var(--five-lighten-2);
    z-index: 1000;

    a {
        width: auto;
        height: calc(var(--header-height) * 0.8);
        display: block;
        padding: calc(var(--marginBase) / 2) 0;
        
        img {
            width: auto;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: top;
        }
    }
}